/* Tailwind base imports */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

/* Quill alignment classes */
.ql-align-center {
  @apply text-center;
}

.ql-align-right {
  @apply text-right;
}

.ql-align-left {
  @apply text-left;
}

/* Rest of your existing CSS */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 600px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1200/600;
  object-fit: cover;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
  border-radius: 0px;
}
  
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #EF6623;
  ;
}

::-webkit-scrollbar-thumb:hover {
  background: #EF6623;
  ;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Other global styles */
.martel-extralight { font-family: "Martel", serif; font-weight: 200; }
.martel-light { font-family: "Martel", serif; font-weight: 300; }
.martel-regular { font-family: "Martel", serif; font-weight: 400; }
.martel-semibold { font-family: "Martel", serif; font-weight: 600; }
.martel-bold { font-family: "Martel", serif; font-weight: 700; }
.martel-extrabold { font-family: "Martel", serif; font-weight: 800; }
.martel-black { font-family: "Martel", serif; font-weight: 900; }
.josefin-sans-light { font-family: "Josefin Sans", sans-serif; font-weight: 300; }
.josefin-sans-regular { font-family: "Josefin Sans", sans-serif; font-weight: 400; }
.josefin-sans-semibold { font-family: "Josefin Sans", sans-serif; font-weight: 600; }
.josefin-sans-bold { font-family: "Josefin Sans", sans-serif; font-weight: 700; }
.yatra-one-regular { font-family: "Yatra One", system-ui; font-weight: 400; }
.annapurna-sil-regular { font-family: "Annapurna SIL", serif; font-weight: 400; }
.annapurna-sil-bold { font-family: "Annapurna SIL", serif; font-weight: 700; }

.bg-primary-div {
  background: linear-gradient(180deg, rgba(248,165,28,0.3) 0%, rgba(239,102,35,0.3) 100%);
}

.footer-gradient {
  background: linear-gradient(0deg, rgba(239,102,35,0.3) 0%, rgba(239,102,35,0) 100%);
}

.video-container {
  position: relative;
  margin: 0 auto;
}
  
.video-element {
  width: 100%;
  display: block;
}
  
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container ul {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.container ul li {
  list-style: none;
  cursor: pointer;
  margin: 10px;
}

.container ul li video {
  width: 200px;
  transition: all 0.3s;
}

.container ul li video:hover {
  transform: scale(1.1);
}

.video {
  width: 100%;
  height: 100%;
}

.text-primary-orange {
  color: #EF6623;
}

.bg-primary-orange {
  background: #EF6623;
}

.bg-secondary-yellow {
  background: #F8A51C;
}

/* Quill Custom Styles with Tailwind */
@layer base {
  h1 {
    @apply text-4xl ;
  }
  h2 {
    @apply text-3xl ;
  }
  h3 {
    @apply text-2xl ;
  }
  h4 {
    @apply text-xl ;
  }
  h5 {
    @apply text-lg ;
  }
  h6 {
    @apply text-base ;
  }

}

.sectionTarget {
  padding-top: 140px; /* Add space for the fixed nav */
  margin-top: -140px; /* Pull the section back up into view */
}


.bg-gray-shades{
  background: rgb(0,0,0);background: linear-gradient(0deg, rgba(0,0,0,0.4515056022408963) 0%, rgba(184,184,184,0.3) 100%);
}


.footer-grey-shades{
  background: rgb(175,175,175);background: linear-gradient(0deg, rgba(175,175,175,0.4515056022408963) 0%, rgba(210,210,210,0.3) 100%);
}

.slick-dots li {
  display: flex !important;
  justify-content: center !important;;
  align-items: center !important;;
  
}
.slick-dots li.slick-active div {
  background: #ff5722 !important; /* active dot color */
  padding:8px;
}

/* Define the 'thin-scroll' class */
